[submodule "raphael-free-transform"]
	path = raphael-free-transform
	url = https://github.com/ElbertF/Raphael.FreeTransform.git
[submodule "raphael-json"]
	path = raphael-json
	url = https://github.com/ElbertF/Raphael.JSON.git
