body {
	background-color: #cdcdcd;
	color: #444444;
    margin: 0px;
}

* {
    font-family: sans-serif;
}

A:link {
	color: black;
}
A:visited {
	color: black;
}

#logo {
    font-size: 30px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

ol {
	list-style: none;
	padding-left: 0px;
}

section#main{  
    margin: 0;
    padding: 0;
    margin-left: 220px;
}

table, th, td {
	font-size: 26px;
	text-align: left;
}

td {
	padding-left: 30px;
}

h1 {
	color: black;
	font-weight: bold;
	font-size: 40px;
}

.status-font {
	font-size: 14px;
}

/* Nav styling */
nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 220px;
    float: left;
    display: block;
    margin: 0;
    font-size: 18px;
    background-color: #FF6600;
}

section#nav-controls {
    padding: 0 10px;
}

/* Drawing pages styling */
section#title-bar {
    min-width: 650px;
    text-align: left;
    padding-top: 25px;
    height: 75px;
    padding-left: 60px;
    position: absolute;
    top: 0;
    left: 220;
    right: 0;
}
div#drawing-container {
    min-width: 650px;
    position: absolute;
    top: 100;
    left: 220;
    bottom: 0;
    right: 0;
    background-color: #efefef;
    border-top: black solid 1px;
    margin-left: auto;
    margin-right: auto;
}

.status-font {
	font-size: 14px;
}

.reading {
	padding: 20px;
	border: 2px solid;
	text-align: center;
}

.farm_names {
	padding-left:0px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 24px;
	background-color: #FF6600;
}

h1.area-name {
    margin: 5px 0;
    display: inline;
    padding-right: 0.3em;
}
h4.farm-name {
    display: inline-block;
    margin: 0px;
    font-size: 24px;
    vertical-align: top;
    padding-top: 12px;
}

section#drawing-controls {
    height: 200px;
}

ul#controls-list {
    margin: 0;
}

.draw-btn {
    width: 100%;
    border-top: black solid 1px;
    font-size: 24px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
    
}
.draw-btn:hover {
    background-color: #dd4400;
    cursor: pointer;
}
.draw-btn:last-child {
    border-bottom: black solid 1px;
}
