svg {
    /*display: block;*/
}

body {
	background-color: #cdcdcd;
	color: #444444;
    margin: 0px;
}

* {
    font-family: sans-serif;
}

A:link {
	color: black;
}
A:visited {
	color: black;
}

nav {
	width: 200px;
    height: 100%;
	float: left;
	display: block;
	margin: 0;
	padding: 0 10px;
	margin-right: 10px;
	font-size: 18px;
    background-color: #FF6600;
}

#logo {
    font-size: 30px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

ol {
	list-style: none;
	padding-left: 0px;
}

section#main{
	width: 700px;
	float: left;
	margin: 0;
	padding: 0;
	display: inline;     
}

table, th, td {
	font-size: 26px;
	text-align: left;
}

td {
	padding-left: 30px;
}

h1 {
	color: black;
	font-weight: bold;
	font-size: 40px;
}

#drawing-container {
    width: 600px;
    height: 200px;
    background-color: #efefef;
    border: black solid 1px;
    margin-left: auto;
    margin-right: auto;
}

.status-font {
	font-size: 14px;
}

.reading {
	padding: 20px;
	border: 2px solid;
	text-align: center;
}

.farm_names {
	padding-left:0px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 24px;
	background-color: #FF6600;
}
