<template name="quickStats">
	<table id="stats-container" class="table table-condensed" style="border-collapse:collapse;">
    	<thead>
        	<tr>
				<th>Variables</th>
        	</tr>
    	</thead>
    	<tbody>
    	{{#each stats}}
        	<tr >
 				<td>
                    <a href="#" class="graph-toggle">
                        <h4>{{name}}</h4>
                    </a>
                </td>
				<td>
                    <h4 data-toggle="collapse" data-target="#{{name}}" class="accordion-toggle average-value">
                        <span class="caret"></span>
                        {{value}}
                        <small>average</small>
                    </h4>
                </td>
        	</tr>
        	<tr>
            	<td colspan="3" class="hidden-row">
            		<div class="accordian-body collapse" id="{{name}}">
            		{{#each moreStats name}}
                        <h4 class="sub-reading">
                            {{reading}}
                            <small>{{sname}}</small>
                        </h4>
            		{{/each}}
            		</div>
            	</td>
        	</tr>
    	{{/each}}
    	</tbody>
	</table>
</template>