<template name="slide">

	<div class="slide">
		{{#if isGraph}}
			{{> graphSlide}}
		{{else}}
			{{> plotSlide}}
		{{/if}}
	</div>

</template>


<template name="plotSlide">
    {{debug}}
    <div class="plot-display"  style="
        width: {{scaledWidth}}px;
        height: {{scaledHeight}}px;
        top: calc(50% - {{scaledHeight}}px/2);
        left: calc(50% - {{scaledWidth}}px/2);
    ">
        <h3 class="plot-name">{{name}}</h3>
    </div>

</template>


<template name="graphSlide">

    <div class="graph-display">
        <div id="chart">
            <svg></svg>
        </div>
    </div>
    
</template>

