<template name="slide">

	<div class="slide">
		{{#if isGraph this.stackIndex}}
			{{> graphSlide}}
		{{else}}
			{{> plotSlide}}
		{{/if}}
	</div>

</template>


<template name="plotSlide">
    {{debug}}
    <div class="plot-display"  style="
        width: {{scaledWidth}}px;
        height: {{scaledHeight}}px;
        top: calc(50% - {{halfHeight}}px);
        left: calc(50% - {{halfWidth}}px);
    ">
        <h3 class="plot-name">{{name}}</h3>
    </div>

</template>


<template name="graphSlide">

    <div class="graph-display">
        <h4>{{graphType}}</h4>
    </div>
    
</template>

