//////////////////////////////////////////////////
// Variables
//////////////////////////////////////////////////
$slick-arrow-color: #aaa;
$slick-dot-color: black;    // default
$slick-prev-character: '\2190'; // default
$slick-next-character: '\2192'; // default

$plot-inactive-color: #B0D279;
$plot-active-color: #96C757;
$plot-hovered-color: #96C757;
$plot-text-color: green;
//////////////////////////////////////////////////

.slick-prev:before, .slick-next:before {
    color: $slick-arrow-color;
}

.slick-prev {
    &:before {
        content: $slick-prev-character;
    }
}

.slick-next {
    &:before {
        content: $slick-next-character;
    }
}


#carousel-container {
    // background-color: gray;
    // margin:0 auto;
    // box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.6);
}

#plot-carousel {
    margin: 20px 30px;
    .plot-display {
        background-color: $plot-inactive-color;
        display: table;
        margin: 20px auto;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.6);
        // size is set in the rendered method
        h3 {
            color: $plot-text-color;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .slick-dots {
        bottom: -20px;
    }
}

#stats-container {
    padding-top: 0px;

    .hidden-row {
        padding: 0;
    }
    .sub-reading {
        // Some terrible absolute positioning
        margin-left: 170px;
        margin-top: 0px;
    }
    .accordion-toggle {
        &:hover {
            cursor: pointer;
            &.average-value {
                font-weight: bold;
            }
        }
    }
}

.table > tbody > tr > td {
    border-top: none;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 150px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.table > tbody > tr > td.hidden-row {
    width: 500px;
}

// these are for the d3 axises
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.hiddenRow {
    padding: 0;
}

.table > thead > tr > th {
    width: 150px
}

.editing-buttons {
    padding-top: 0px;
}
