@import 'packages/bootstrap3-sass/bootstrap';

//////////////////////////////////////////
//////////////          VARIABLES
//////////////////////////////////////////
$nav-height: 100px;
$brand-font-size: 30px;
$navbar-size: 50px;

//////////////////////////////////////////

body {
    padding-top: $navbar-size + 10px;
}

.sidebar {
    position: fixed;
    top: $navbar-size + 1px;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;

    .active {
        a {
            color: #fff;
            background-color: #f8931a;
        }
        a:hover {
            color: #fff;
            background-color: #f8931a;
        }
    }
}

.right-section {
    padding: 20px;
    .page-header {
        margin-top: 0px;
    }
}

.area {
    .area-content {
        .area-name {
            display: inline;
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .area-stats {
            .area-stat {
                font-size: 1.3em;
                padding: 0px 10px;
            }
        }
    }
}

////////////////////////////////////////////////////
// Graph paper styling background generator
////////////////////////////////////////////////////
$trans: transparent;
$block: #fff;
$line: steelblue;
$gridSize: 100px;
$subdivisions: 10;

.graph-paper {
  background-color: $block;
  background-image:
    linear-gradient(rgba($line,.25) 1px, $trans 1px), /*sub horiz*/
    linear-gradient(rgba($line,.25) 1px, $trans 1px), /*main horiz*/
    linear-gradient(90deg, rgba($line,.25) 1px, $trans 1px), /*sub vert*/
    linear-gradient(90deg, rgba($line,.5) 1px, $trans 1px) /*main vert*/
    // linear-gradient($trans 3px, $block 3px, $block $gridSize - 2, $trans $gridSize - 2), /*nub horiz*/
    // linear-gradient(90deg, $line 3px, $trans 3px, $trans $gridSize - 2, $line $gridSize - 2) /*nub vert*/
    ;
  background-size:
    $gridSize / $subdivisions $gridSize / $subdivisions,
    $gridSize $gridSize,
    $gridSize / $subdivisions $gridSize / $subdivisions,
    $gridSize $gridSize,
    $gridSize $gridSize,
    $gridSize $gridSize;
}

#drawing-container {
    @extend .graph-paper;
    border: 1px solid rgba($line,.25);
    position: relative;

    .drawing-actions {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        height: 30px;
        line-height: 20px;
        padding: 5px 10px;
        .drawing-action {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

//////////////////////////////
// Slick styling
//////////////////////////////
$slick-arrow-color: #aaa;
$slick-dot-color: black;    // default
$slick-prev-character: '\2190'; // default
$slick-next-character: '\2192'; // default

.slick-prev:before, .slick-next:before {
    color: $slick-arrow-color;
}

.slick-prev {
    &:before {
        content: $slick-prev-character;
    }
}

.slick-next {
    &:before {
        content: $slick-next-character;
    }
}

// .left-sidebar {
//     @extend .col-md-2;
//     background-color: #2e2b2c;

//     .farm-names {
//         font-size: 24px;
//         li {
//             padding: 5px 10px;
//             text-align: right;
//             a, a:visited {
//                 color: #d4c8c9;
//                 text-decoration: none;
//             }
//             a:hover {
//                 color: #fff;
//             }
//         }
//         @extend .nav; 
//         @extend .nav-pills;
//         @extend .nav-stacked;
//     }
// }

// .content-wrapper {
//     @extend .col-md-10;
// }

// /* Nav styling */
// nav.navbar {
//     @extend .navbar-default;
//     width: 100%;
//     // background-color: #2e2b2c;
//     border: none;
//     .navbar-brand, .navbar-nav li a {
//         height: $nav-height;
//         line-height: $nav-height - $brand-font-size;
//     }
//     .navbar-brand {
//         @extend .navbar-brand;
//         font-size: $brand-font-size;
//         color: #fff;
//         text-align: center;
//         // background-color: #f8931a;
//         width: 
//     }
// }
// nav {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     width: 220px;
//     float: left;
//     display: block;
//     margin: 0;
//     font-size: 18px;
    
// }


// svg {
//     background: url('http://i.imgur.com/GySvQ.png');
//     border: 2px solid black;
//     display: block;
//     margin: 20px auto;
// } 

// #drawing-container {
//     width: 100%;
//     height: 700px;
//     padding: 10px;
// }

// section#main{  
//     margin: 0;
//     padding: 0;
//     margin-left: 220px;
// }

// table, th, td {
// 	font-size: 26px;
// 	text-align: left;
// }

// td {
// 	padding-left: 30px;
// }

// .status-font {
// 	font-size: 14px;
// }


// /* Drawing pages styling */
// section.title-bar {
//     background-color: #2e2b2c;
//     color: #d4c8c9;
//     min-width: 650px;
//     text-align: left;
//     padding-top: 25px;
//     height: 75px;
//     padding-left: 60px;
//     position: absolute;
//     top: 0;
//     left: 220;
//     right: 0;
// }
// section.lower-main {
//     min-width: 650px;
//     position: absolute;
//     top: 100;
//     left: 220;
//     bottom: 0;
//     right: 0;
//     background-color: #fff;
//     border-top: black solid 1px;
//     margin-left: auto;
//     margin-right: auto;
// }

// .status-font {
// 	font-size: 14px;
// }

// .reading {
// 	padding: 30px;
// 	border: 2px solid;
// 	text-align: center;
// 	float: left;
// 	font-size: 28;
// 	font-weight: bold;
// }



// h1.page-title {
//     margin: 5px 0;
//     color: #d4c8c9;
//     display: inline;
//     padding-right: 0.3em;
// }
// h4.page-subtitle {
//     display: inline-block;
//     margin: 0px;
//     font-size: 24px;
//     vertical-align: top;
//     padding-top: 12px;
//     color: white;
// }

// section#drawing-controls {
//     height: 200px;
// }

// ul#controls-list {
//     /*margin: 0;*/
// }

// .draw-btn {
//     border-top: black solid 1px;
//     font-size: 24px;
//     color: #fff;
//     padding: 15px 10px;
//     text-align: right;
//     &:hover {
//         background-color: #5e5b5c;
//         cursor: pointer;
//     }
//     &:last-child {
//         border-bottom: black solid 1px;
//     }   
// }

// #farmlist .ui-selected {
// 	background: orange;
// }

// .area_selection {
// 	padding-left: 40px;
// 	font-size: 40;
// }

/* Popup div*/
div#popup {
    width: 180px;
    height: 120px;
    position: absolute;
    background-color: #ddd;
    display: none;
    pointer-events: none;
    border: black solid 1px;
}

#popup {
    h4 {
        text-align: center;
    }
    .label {
        font-weight: bold;
        clear: left;
    }
}

#carousel-container {
    background-color: gray;
    width: 100%;
    margin:0 auto;
    height: 50%;
}

#plot-carousel {

    .plot-display {
        h3 {
            text-align: center;
            height: 100%;
            background-color: green;
            color: #f8931a;
            vertical-align: center;
            padding: 15%;
            width: 90%;
            margin: 5%;
        }
    }
}

#stats-container {
    padding-top: 10px;
    text-align: center;

    .stat {
        border-style: solid;
        padding: 4%;
        width: 32%;
        margin: 5px;
    }

    .ui-selected {
        background: #f8931a;
    }
}

.editing-buttons {
    padding-top: 10px;
}
