<template name="areaItem">

    <div class="area panel panel-default">

        <div class="area-content panel-body">
            <h3 class="area-name">
                <a href="{{pathFor 'areaPage'}}">
                    {{name}}
                </a>
                <small class="area-location">
                    {{location}}
                </small>
            </h3>
            
            <div class="area-icons pull-right">
                <!-- <span class="area-stats">
                {{#each stats}}
                    <span class="area-stat">{{value}}</span>
                {{/each}}
                </span> -->
            </div>

        </div>
    </div>


</template>


<template name="addArea">
    <div class="new-area panel panel-default">
        <div class="area-content panel-body">
            <form role="form" class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="farm-name-input" placeholder="New farm name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="farm-location-input" placeholder="Farm location">
                </div>
                <button type="submit" class="btn btn-primary">Make farm</button>
            </form>
        </div>
    </div>
</template>