<template name="areaPage">


    <ul class="breadcrumb">
        <li><a href="{{pathFor 'areasPage'}}">Schrute Farms</a></li>
        <li class="active">{{name}}</li>
    </ul>
    <!-- <h1 class="page-header">{{name}} Layout Page</h1> -->
    <div id="drawing-container">
        <div class="drawing-actions">
            <a href="#" title="Add..." class="dropdown-toggle drawing-action" data-toggle="dropdown">
                <span class="glyphicon glyphicon-plus"></span>
                <b class="caret"></b>
            </a> 
            <ul class="dropdown-menu add-menu">
                <li>
                    <a href="#" id="add-plot">Add plot</a>
                    <a href="#" id="add-sensor">Add sensor</a>
                </li>
            </ul>
            <a href="#" title="Clear layout" id="clear" class="drawing-action glyphicon glyphicon-trash"></a>
        </div>
        {{#each racks}}
            {{> rack}}
        {{/each}}
        <!-- {{#each sensors}}
            {{> sensor}}
        {{/each}} -->
    </div>

</template>