<template name="rack">


    {{#each plots}}
        {{> plot}}
    {{/each}}


</template>

<template name="plot">
    <!-- Only make this for the first plot -->
        {{#if firstPlot}}
            <!-- Using rack position as anchor -->
            <div class="shape plot" style="
                left: {{../attributes.left}}px;
                top: {{../attributes.top}}px;
                width: {{../attributes.width}}px;
                height: {{../attributes.height}}px;
                z-index: {{stackItems}};
            ">
                <h3 class="shape-text">
                    <a href="{{pathFor 'rackPage' areaId=../areaId rackId=../_id}}">
                        {{../name}}
                    </a>
                </h3>
            </div>
        {{else}}
            <!-- These are the divs that look stacked -->
            <!-- plot class hooks up the jquery stuff -->
            <div class="shape subplot" style="
                left: {{offsetLeft offset=7}}px;
                top: {{offsetTop offset=7}}px;
                width: {{../attributes.width}}px;
                height: {{../attributes.height}}px;
                z-index: {{stackItems}};
            "></div>
        {{/if}}
    
</template>