<template name="areaItem">

    <div class="area panel panel-default">

        <div class="area-content panel-body">
            <h3 class="area-name">
                <a href="{{pathFor 'areaPage'}}">
                    {{name}}
                </a>
                <small class="area-location">
                    {{location}}
                </small>
            </h3>
            
            <div class="area-icons pull-right">
                <span class="area-stats">
                {{#each stats}}
                    <span class="area-stat">{{value}}</span>
                {{/each}}
                </span>
            </div>

        </div>
    </div>


</template>