<template name="areaPage">


    <ul class="breadcrumb">
        <li><a href="{{pathFor 'areasPage'}}">Schrute Farms</a></li>
        <li class="active">{{name}}</li>
    </ul>
    <!-- <h1 class="page-header">{{name}} Layout Page</h1> -->
    <div id="drawing-container">
        <div class="drawing-actions">
            <a href="#" title="Add plot"><span class="drawing-action add glyphicon glyphicon-plus"></span></a>
            <a href="#" title="Clear layout"><span class="drawing-action remove glyphicon glyphicon-minus"></span></a>
        </div>
    </div>
    <ul class="racks">
        {{#each racks}}
            <li>
                <a href="{{pathFor 'rackPage'}}">
                    {{name}}
                </a>
            </li>
        {{/each}}
    </ul>


</template>